body{
	background-color: black;
}

#canvas{
	
	display: block;
	
	position: relative;
	margin: 0 auto;
}

#info{
  
  
  
  
 
  
}
#arrinfo{
  background-color: RGBA(0, 0, 0, 0.4);
  padding: 5px;
  color: white;
  position: absolute;
  z-index: 40;
  right:0;
  width: 128px;
  height: 100%;
  overflow:auto;
  
}
